build
build_win32
build_osx
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
.idea
idea
Makefile
DockerMultiContainer/starlink

*.obj
*.yuv
*.h264
*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
*.data

*.264
*.h264
*.2pass
*.ffindex
*.avs
*.mkv
*.flv
*.mp4
*.y4m
*.yuv
*.log
*.mbtree
*.temp
*.pyc
*.pgd
*.pgc

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
third-party/c-logger/*.dSYM/

# Project
third-party/c-logger/build/
third-party/c-logger/build_debug/

# General
*.a
third-party/c-logger/*.dSYM/
*.la
*.lo
*.o
*.opensdf
*.orig
*.sdf
*.suo
*.swp
*.tests
*.vcxproj.filters
*.vcxproj.user
*~
.git
TAGS

# Mac/Xcode-specfic
xcuserdata
contents.xcworkspacedata
.DS_Store
._*

*.cmake
*.bin
*.make

