build
build_win32
build_osx
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
.idea
idea
Makefile
DockerMultiContainer/starlink

*.obj
*.yuv
*.h264
*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
/third_party/FFmpeg.config
/third_party/FFmpeg/.version
/third_party/FFmpeg/ffmpeg
/third_party/FFmpeg/ffplay
/third_party/FFmpeg/ffprobe
/third_party/FFmpeg/ffmpeg_g
/third_party/FFmpeg/ffplay_g
/third_party/FFmpeg/ffprobe_g
/third_party/FFmpeg/config.asm
/third_party/FFmpeg/config.h
/third_party/FFmpeg/coverage.info
/third_party/FFmpeg/avversion.h
/third_party/FFmpeg/lcov/
/third_party/FFmpeg/src
/third_party/FFmpeg/mapfile
/third_party/FFmpeg/tools/python/__pycache__/

*.264
*.h264
*.2pass
*.ffindex
*.avs
*.mkv
*.flv
*.mp4
*.y4m
*.yuv
*.log
*.mbtree
*.temp
*.pyc
*.pgd
*.pgc

